[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lingua = "*"
scikit-learn = "*"
matplotlib = "*"
geopandas = "*"
lingua-language-detector = "*"
nltk = "*"
flair = "*"
tensorflow = "*"
gensim = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.10"
